* {
  margin: 0;
  padding: 0;
  font-family: "Gilroy";
}

a {
  text-decoration: none;
}

.top {
}
.header {
  padding-top: 40px;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 600px;
}

.nav {
  display: flex;
  flex: wrap;
  gap: 20px;
}
.orange {
  color: #f25822;
}
.black {
  color: black;
}

.top_main {
  padding-top: 84px;
  padding-bottom: 163px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 39px;
}

.top_main_content {
  width: 522px;
}

.top_main_heading {
  font-weight: 600px;
  font-size: 60px;
  line-height: 70px;
  color: #000000;
  margin-bottom: 20px;
}
.top_main_paragraph {
  font-size: 20px;
  line-height: 23px;
  color: #888888;
}

.top_main_buttons {
  margin-top: 37px;
  display: flex;
  flex-direction: row;
  gap: 72px;
}

.start {
  border-radius: 30px;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  background-color: #f25822;
  border-style: hidden;
  padding: 15px;
}
.watch {
  border-radius: 30px;
  font-size: 15px;
  line-height: 18px;
  border-style: hidden;
  padding: 15px;
  color: #aaaaaa;
}

.top_logos {
  padding-top: 97px;
  padding-bottom: 96px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 48px;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"), url("../fonts/Gilroy-SemiBold.ttf") format("truetype"),
    url("../fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

/* Medium */

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"), url("../fonts/Gilroy-Medium.ttf") format("truetype"),
    url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 61px;
  margin-left: calc(50% - 556px);
}

.grid1_1,
.grid1_3 {
  width: 310px;
  height: 226px;
}
.grid1_2 {
  width: 370px;
  height: 291px;
}
h4 {
  margin-top: 25px;
  margin-bottom: 17px;
}

h6 {
  margin-top: 25px;
}
.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.center_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center_content_p {
  margin-top: 20px;
  width: 682px;
  text-align: center;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: calc(50% - 556px);
  margin-right: calc(50% - 556px);
  gap: 30px;
  margin-top: 55px;
}

.grid2_1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 549px;
  background-color: #ffffff;
  align-items: center;
}

.grid2_button {
  margin-top: 39px;
  border-radius: 30px;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  background-color: #f25822;
  border-style: hidden;
  padding: 15px;
  width: 150px;
  justify-self: center;
}
